#!/usr/bin/make -f

# Uncommented to turn on verbose mode.
export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

export ICMAKE_CPPSTD = --std=c++23

export CXXFLAGS = $(shell dpkg-buildflags --get CXXFLAGS)
export CXXFLAGS += ${ICMAKE_CPPSTD}  -Wall -D_FORTIFY_SOURCE=2

export LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)
# export LDFLAGS += -Wl,bindnow
export LDFLAGS += -Wl,-z,now

export CXX = g++

%:
	dh $@

override_dh_auto_clean:
	rm -rf tmp
	find . -type f -name '*.ih.gch' -delete
	dh_auto_clean

override_dh_auto_build:
	# compile the package.
	./icm_prepare   /
	./icm_bootstrap /
	dh_auto_build

override_dh_auto_install:
	# Add here commands to install the package into debian/icmake
	./icm_install all debian/icmake
	dh_auto_install
